@model IEnumerable<CRMS.Models.Roles>

@{
    ViewData["Title"] = "Index";
}

<h1><b>Roles</b></h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.RolesId">Edit</a>
                    <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.RolesId">Details</a>
                    <a asp-action="Delete" class="btn btn-outline-primary" asp-route-id="@item.RolesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
