
<div class="w3-container" style="background-color:aliceblue; min-height:100VH; max-height:100%;">
    <h3 class="my-4">Dashboard</h3>
    <div class="container-fluid row g-3">
        
        <div class="card p-3 col-md-3" s>
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Activity</span>
            </a>
            <h2 class="text-warning w3-center">@ViewData["TotalTasks"] </h2> <span class="w3-center">Tasks Today</span>
            <div class="dropdown-divider"></div>
            <table>
                <thead><tr></tr></thead>
                <tbody>
                    <tr>
                        <td>Contacts with No Leads:</td>
                        <td>@ViewData["ContactsWithNoLeads"]</td>
                    </tr>
                    <tr>
                        <td>Customer Engagements:</td>
                        <td>@ViewData["NextEngagements"]</td>
                    </tr>
                    <tr>
                        <td>Appointments Today:</td>
                        <td>@ViewData["Appointments"]</td>
                    </tr>
                    <tr>
                        <td>Created Contact Target:</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card p-3 col-md-2">
            <a class="dropdown-item fw-bold text-warning" href="#!">
                <span class="fas fa-crown me-1"></span>
                <span>Top 5 Lead Sources</span>
            </a>

            @if (ViewData["LeadSources"] != null)
            {
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var source in (IEnumerable<dynamic>)ViewData["LeadSources"])
                        {
                            <tr>
                                <td>@source.Source</td>
                                <td>(@source.Count)</td>
                            </tr>
                        }
                        @for (int i = ((IEnumerable<dynamic>)ViewData["LeadSources"]).Count(); i < 5; i++)
                        {
                            <tr>
                                <td>Not Available</td>
                                <td>(0)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>

        <div class="card p-3 w3-center col-md-2" >
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Contacts Created:</span>
            </a>
            <h2 class="text-info">@ViewData["ContactsCreated"] </h2> <span>out of 10</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Company-Assigned Contacts:</span>
            </a>
            <h2 class="text-info">@ViewData["ContactsAssigned"] </h2> <span>Newly Assigned Contacts</span>
           
        </div>

        <div class="card p-3 col-md-5">
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Sales Pipeline:</span>
            </a>
            
            <div class="container-fluid row g-3 w3-center">
                <div class="col-md-4 border ">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Contacted</span></a>
                    <h2 class="text-info">@ViewData["contacted"] </h2>
                </div>
                <div class="col-md-4 border ">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Met</span>
                    </a>
                    <h2 class="text-info">@ViewData["met"] </h2>
                </div>
                <div class="col-md-4 border ">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Proposal Generated</span>
                    </a>
                    <h2 class="text-info">@ViewData["proposal_generated"] </h2>
                </div>
                <div class="col-md-4 border">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Application Submitted</span>
                    </a>
                    <h2 class="text-info">@ViewData["application_submitted"] </h2>
                </div>
                <div class="col-md-4 border ">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Policy Issued</span>
                    </a>
                    <h2 class="text-info">@ViewData["policy_issued"] </h2>
                </div>
                <div class="col-md-4 border ">
                    <a class="dropdown-item fw-bold text-secondary" href="#!">
                        <span>Dead Lead</span>
                    </a>
                    <h2 class="text-info">@ViewData["dead_lead"] </h2>
                </div>

            </div>
           

        </div>

        <div class="card p-3 col-md-12" >
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Appointments Today</span>
            </a>
            <div class="dropdown-divider"></div>
            <div>

            </div>

        </div>

        <div class="card p-3 col-md-12">
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Engagements Today</span>
            </a>
            <div class="dropdown-divider"></div>
            <div>

            </div>
        </div>
    </div>

    


</div>





@section Scripts{
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').click(function () {
                $(this).siblings('.dropdown-menu').toggle();
            });

            $('.search-input').keyup(function () {
                var filter = $(this).val().toLowerCase();
                var options = $(this).siblings('.options').find('li');

                options.each(function () {
                    if ($(this).text().toLowerCase().indexOf(filter) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
        
    </script>
}