
<div class="w3-container" style="background-color:aliceblue; min-height:100VH; max-height:100%;">
    <h3 class="my-4">Dashboard</h3>
    <div class="container-fluid row g-3">
        
        <div class="card p-3" style="max-width:20rem;">
            <a class="dropdown-item fw-bold text-success" href="#!">
                <span>Activity</span>
            </a>
            <h3>@ViewBag.ActivityToday</h3> <span>Contacts Today</span>
            <div class="dropdown-divider"></div>
            <table>
                <thead><tr></tr></thead>
                <tbody>
                    <tr>
                        <td>Contacts with No Leads:</td>
                        <td>@ViewData["ContactsWithNoLeads"]</td>
                    </tr>
                    <tr>
                        <td>Customer Engagements:</td>
                        <td>@ViewData["NextEngagements"]</td>
                    </tr>
                    <tr>
                        <td>Appointments Today:</td>
                        <td>@ViewData["Appointments"]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card p-3" style="max-width:20rem;">
            <a class="dropdown-item fw-bold text-warning" href="#!">
                <span class="fas fa-crown me-1"></span>
                <span>Top 5 Lead Sources</span>
            </a>

            @if (ViewData["LeadSources"] != null)
            {
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var source in (IEnumerable<dynamic>)ViewData["LeadSources"])
                        {
                            <tr>
                                <td>@source.Source</td>
                                <td>(@source.Count)</td>
                            </tr>
                        }
                        @for (int i = ((IEnumerable<dynamic>)ViewData["LeadSources"]).Count(); i < 5; i++)
                        {
                            <tr>
                                <td>Not Available</td>
                                <td>(0)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>

    


</div>





@section Scripts{
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').click(function () {
                $(this).siblings('.dropdown-menu').toggle();
            });

            $('.search-input').keyup(function () {
                var filter = $(this).val().toLowerCase();
                var options = $(this).siblings('.options').find('li');

                options.each(function () {
                    if ($(this).text().toLowerCase().indexOf(filter) !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
        
    </script>
}