@model Engagement
@{
}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Engagement</li>
        <li class="breadcrumb-item active" aria-current="page">Add New Record</li>
    </ol>
</nav>
<h2>New Engagement Record</h2>
<form id="contactForm" class="w3-container" asp-controller="Engagement" asp-action="Create">
    <div class="w3-section">

        <div class="form-group">
            <label asp-for="Engagement_Date" class="control-label"></label>
            <input asp-for="Engagement_Date" class="form-control" placeholder="@DateTime.Now" max="@DateTime.Now.ToString("yyyy-MM-dd")" required />
            <span asp-validation-for="Engagement_Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ContactId" class="control-label">For Contact:</label>
            @if (ViewBag.ContactsList != null)
            {
                @*<select asp-for="deptID" class="form-control" asp-items="ViewBag.ContactsList"></select>*@
                @Html.DropDownListFor(model => model.ContactId, (IEnumerable<SelectListItem>)ViewBag.ContactsList, "-- Select Contact --", new { @class = "form-control", @required = "required"  })
            }
           <span asp-validation-for="ContactId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Topic" class="control-label">Topic:</label>
            <input asp-for="Topic" class="form-control" placeholder="Ex. First Meeting - KYC" required />
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Engagement_Description" class="control-label">Description</label>
            <input asp-for="Engagement_Description" class="form-control" placeholder="Ex. Getting to know the prospect" required />
            <span asp-validation-for="Engagement_Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ETypeId" class="control-label">Reason:</label>
            @if (ViewBag.EngagementTypeList != null)
            { 
                @Html.DropDownListFor(model => model.ETypeId, (IEnumerable<SelectListItem>)ViewBag.EngagementTypeList, "-- Engagement Reason --", new { @class = "form-control", @required = "required" })
            }
            <span asp-validation-for="ETypeId" class="text-danger"></span>
        </div>

       

        <div class="form-group">
            <label asp-for="CommsMethodId" class="control-label">Communication Method:</label>
            @if (ViewBag.CommsMethodList != null)
            { 
                @Html.DropDownListFor(model => model.CommsMethodId, (IEnumerable<SelectListItem>)ViewBag.CommsMethodList, "-- Communication Method --", new { @class = "form-control", @required = "required" })
            }
            <span asp-validation-for="CommsMethodId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EffectivityId" class="control-label">Remarks:</label>
            @if (ViewBag.EffectivityList != null)
            {
                @Html.DropDownListFor(model => model.EffectivityId, (IEnumerable<SelectListItem>)ViewBag.EffectivityList, "-- REMARKS --", new { @class = "form-control", @required = "required" })
            }
            <span asp-validation-for="EffectivityId" class="text-danger"></span>
        </div>


        <br />
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button type="submit" class="w3-button w3-right w3-green">SAVE</button>
            <a asp-controller="Engagement" asp-action="Index" class="w3-button w3-red">Cancel</a>
        </div>
    </div>

</form>
