
<div class="vertical-nav">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "AppointmentPurposesController")">Appointment - Purpose</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "CommunicationMethodsController")">Engagement - Communication Method</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "EffectivitiesController")">Engagement - Effectivity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "EngagementTypesController")">Engagement - Engagement Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "LeadStatusController")">Leads - Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "SourcesController")">Leads - Source</a>
        </li>
    </ul>
</div>
