@model IndexViewModel


<div class="w3-container">
    <div id="CreateModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center">
                <br>
                <span onclick="document.getElementById('CreateModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                <h2>New Contact</h2>
            </div>

            <form id="contactForm" class="w3-container" asp-controller="Contacts" asp-action="Create" data-ajax="true" data-ajax-method="post">
                <div class="w3-section">
                    <div class="form-group">
                        <label asp-for="Contacts.FirstName" class="control-label">First Name:</label>
                        <input asp-for="Contacts.FirstName" class="form-control" placeholder="Ex. Juan" />
                        <span asp-validation-for="Contacts.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.LastName" class="control-label">Last Name:</label>
                        <input asp-for="Contacts.LastName" class="form-control" placeholder="Ex. Dela Cruz" />
                        <span asp-validation-for="Contacts.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.Email" class="control-label">Email:</label>
                        <input asp-for="Contacts.Email" class="form-control" placeholder="Ex. juandelacruz@crms.com" />
                        <span asp-validation-for="Contacts.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.PhoneNumber" class="control-label">Phone Number:</label>
                        <input asp-for="Contacts.PhoneNumber" class="form-control" placeholder="Ex. 09XXXXXXXX" />
                        <span asp-validation-for="Contacts.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.Gender" class="control-label">Gender:</label>
                        <select asp-for="Contacts.Gender" class="form-control">
                            <option>-- Select Gender --</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="Contacts.Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.DOB" class="control-label">Date of Birth:</label>
                        <input asp-for="Contacts.DOB" class="form-control" required />
                        <span asp-validation-for="Contacts.DOB" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.ContactOwnerID" class="control-label">Contact Owner:</label>
                        <select asp-for="Contacts.ContactOwnerID" class="form-control">
                            @*asp-items="ViewBag.UserList"*@
                            @foreach (var user in Model.AppUsers)
                            {
                                <option value="@user.Id">@String.Concat(user.FirstName +" "+ user.LastName)</option>
                            }
                        </select>
                        <span asp-validation-for="Contacts.ContactOwnerID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.DateAssigned" class="control-label">Date Assigned:</label>
                        <input asp-for="Contacts.DateAssigned" class="form-control" />
                        <span asp-validation-for="Contacts.DateAssigned" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.ContactCreatorID" class="control-label">Contact Creator:</label>
                        @*<input type="hidden" asp-for="Contacts.ContactCreatorID" class="form-control" value="@Model.Contacts.ContactCreatorID" readonly />*@
                        @*<input class="form-control" value="@String.Concat(Model.AppUsers.FirstOrDefault(u => u.Id == Model.Contacts.ContactCreatorID)?.FirstName, ' ', Model.AppUsers.FirstOrDefault(u => u.Id == Model.Contacts.ContactCreatorID)?.LastName)" readonly />*@
                        <select asp-for="Contacts.ContactOwnerID" class="form-control">
                            @*asp-items="ViewBag.UserList"*@
                            @foreach (var user in Model.AppUsers)
                            {
                                <option value="@user.Id">@String.Concat(user.FirstName +" "+ user.LastName)</option>
                            }
                        </select>
                        <span asp-validation-for="Contacts.ContactCreatorID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts.CreateDate" class="control-label">Create Date:</label>
                        <input type="text" class="form-control" value="@DateTime.Today.ToShortDateString()" readonly />
                        <input asp-for="Contacts.CreateDate" type="hidden" class="form-control" value="@DateTime.UtcNow" readonly />
                        @*@Html.DisplayFor(model => model.Contacts.CreateDate, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*<input asp-for="Contacts.CreateDate" class="form-control" required />*@
                        <span asp-validation-for="Contacts.CreateDate" class="text-danger"></span>
                    </div>

                    @Html.HiddenFor(model => model.Contacts.ContactOwnerID)
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button type="submit" class="w3-button w3-right w3-green">SAVE</button>
                        <button onclick="document.getElementById('CreateModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                    </div>
            </form>
        </div>
    </div>
</div>




@section Scripts{
   @* <script>
        $(document).ready(function () {
            $("#CreateModal").on("submit", "form[data-ajax=true]", function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    success: function (result) {
                        $("#CreateModal").html(result);
                    }
                });
            });
        });
    </script>*@
    <script>
        $(function () {
            $("#contactForm").submit(function (e) {
                e.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: "/Contacts/SaveContact",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        $("#myModal .modal-body").html(data);
                    }
                });
            });
        });
    </script>
}