@model DetailsViewModel

@section Styles{
<style>
        .contact-details {
          display: flex;
          height: 100%;       
        }

        .left-section {
          position: sticky;
          top: 0;
          width: 30%;
          height: 100vh;
          /*background-color: #f2f2f2;*/
          border: 2px solid lightgray;
          border-radius: 20px;
          padding: 1em;
        }

        .right-section {
          width: 70%;
          height: 100vh;
          overflow: auto;
          border: 2px solid lightgray;
          border-radius: 20px;
          padding: 1em;
          margin-left: 10px;
        }

        .tabs {
          background-color: #ddd;
          overflow: hidden;
        }

        .tablinks {
          background-color: #ccc;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 10px 20px;
          float: left;
        }

        .tablinks.active {
          background-color: #bbb;
        }

        .tabcontent {
          display: none;
          padding: 20px;
        }

        .tabcontent.active {
          display: block;
        }

        .profile-pic {
            width: 120px;
            height: 120px;
            align-self: center;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            background-color: #ccc; /* default background color */
        }

        .pic-initials {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4em;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }

</style>
}

<header class="card1">
    <div class="contact-details" style="font-family: Poppins;">
        <div class="left-section">
            <!-- Contact details will be displayed here -->
            <div class="d-flex flex-column">
               

                    <!--PUT CONTACT PIC & NAME-->
                <div class="profile-pic mx-4 pic-initials mt-4">
                    
                </div>

                <div class="d-flex flex-column mt-4" style="align-self: center; color: #002756;">
                    <h2 style="font-weight: bold; font-family:Poppins">@Html.DisplayFor(model=>model.Contacts.FullName)</h2>

                </div>

                <div class="w3-center row g-3 mt-4">
                    
                    <div class="col-md-4">
                        <div class="form-floating">
                            <h5 style="color: #002756;"> @Html.DisplayFor(model=>model.Contacts.CreateDate)</h5>
                            <p style="font-size: 13px; color: gray;">Date Created</p>
                        </div>
                    </div>

                    <div class="col-md-4" style="border-right: 2px solid lightgray; border-left: 2px solid lightgray;">
                        <div class="form-floating">
                                @if (Model.ListLeads != null)
                                {
                                    <h5 style="color: #002756;">Sales</h5>

                                }
                                else
                                {
                                    <h5 style="color: #002756;">None</h5>

                                }
                            <p style="font-size: 13px; color: gray;">Pipeline</p>
                        </div>
                    </div>

                        <div class="col-md-4">
                            <div class="form-floating">
                                @if (Model.ListLeads != null && Model.ListLeads.Any())
                                {
                                <h5 style="color: #002756;">@Model.ListLeads.Last().status.LeadStatusName</h5>
                                }
                                else
                                {
                                <h5 style="color: #002756;">None</h5>

                                }
                                <p style="font-size: 13px; color: gray;">Stage</p>
                            </div>
                        </div>              
                </div>
                <br />
                <hr />
                    <!--PUT MORE DETAILS OF CONTACT-->
                <h3 class="mt-4" style="font-weight: bold; color: #002756; align-self: center; font-family: Poppins;"> Information</h3>

                    <div class="w3-center row g-3 mt-2">

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @Html.DisplayFor(model=>model.Contacts.Email)</h5>
                                <p style="font-size: 13px; color: gray;">Email</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @Html.DisplayFor(model=>model.Contacts.PhoneNumber)</h5>
                                <p style="font-size: 13px; color: gray;">Phone</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @Html.DisplayFor(model=>model.Contacts.DOB)</h5>
                                <p style="font-size: 13px; color: gray;">Birth Date</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @Html.DisplayFor(model=>model.Contacts.Gender)</h5>
                                <p style="font-size: 13px; color: gray;">Gender</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @Html.DisplayFor(model => model.Contacts.Owner.FullName)</h5>
                                <p style="font-size: 13px; color: gray;">Contact Owner</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <h5 style="color: #002756;"> @(Model.Contacts.ContactCreatorID != null ? Model.Contacts.Creator?.FirstName + " " + Model.Contacts.Creator?.LastName ?? "N/A" : "SYSTEM")</h5>
                                <p style="font-size: 13px; color: gray;">Contact Creator</p>
                            </div>
                        </div>                                           
                    </div>
            </div>
        </div>
        <div class="right-section">
            <div class="tabs">
                <button class="tablinks" onclick="openTab(event, 'leads')">Leads</button>
                <button class="tablinks" onclick="openTab(event, 'engagement-records')">Engagement Records</button>
                <button class="tablinks" onclick="openTab(event, 'appointments')">Appointments</button>
            </div>

            <div class="tabcontent active" id="leads">
                <!-- Leads content will be displayed here -->

                <a asp-controller="Leads" asp-action="Create" asp-route-id="@Model.Contacts.Contact_Id" class="w3-button w3-highway-blue w3-hover-red">Create New</a>
                <br />
                <br />

                @if (!Model.ListLeads.Where(c => c.ProspectId == Model.Contacts.Contact_Id).Any())
                {
                    <div class="w3-card-4">
                        <header class="w3-container w3-highway-blue">
                            <h1>No deals/leads created for this contact</h1>
                        </header>
                    </div>
                }
                else
                {
                    foreach (var leads in Model.ListLeads)
                    {
                        <div class=" w3-card-4 my-3">
                            <header class="w3-container w3-highway-blue row g-3 ">
                                <div class="col-md-8">
                                    <h1>@leads.status.LeadStatusName</h1>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="text-warning text-end">Close-Win by: @leads.CreatedDate.AddDays(30).ToString("MM-dd-yy")</h5>
                                </div>


                            </header>

                            <div class="w3-container py-md-2 row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.status.LeadStatusName" disabled>
                                        <label>Status</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.product.ProductName" disabled>
                                        <label>Product</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.source.SourceName" disabled>
                                        <label>Lead Source:</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.CreatedDate" disabled>
                                        <label>Creation Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.PrefContactMethod" disabled>
                                        <label>Creation Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.PrefContactDay" disabled>
                                        <label>Preferred Contact Time</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" value="@leads.PrefContactTime" disabled>
                                        <label>Preferred Contact Time</label>
                                    </div>
                                </div>

                            </div>

                            <footer class="w3-container w3-gray  py-2 d-flex justify-content-end">
                                <a asp-controller="Leads" asp-action="Edit" asp-route-id="@leads.Leads_Id" class="w3-button mx-1 w3-green w3-hover-black">Edit </a>
                                <a asp-controller="Leads" asp-action="Delete" asp-route-id="@leads.Leads_Id" class="w3-button mx-1 w3-red w3-hover-black">Delete</a>
                            </footer>

                        </div>
                    }

                }

            </div>


        </div>
    </div>
</header>


   

@section Scripts{
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }
    </script>
    <script>
        var initials = '@ViewData["ContactInitials"]'; // replace with the user's name initials
        var colors = ['#002756']; // add more colors as needed
        var randomColor = colors[Math.floor(Math.random() * colors.length)];
        document.querySelector('.profile-pic').style.backgroundColor = randomColor;
        document.querySelector('.pic-initials').innerHTML = initials;


    </script>
}