@model IndexViewModel
<br />
<br />
<table class="table table-bordered table-overflow-auto-w100" style="overflow-x:auto">
    <thead class="header-bg-light text-uppercase">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Contact Owner ID</th>
            <th scope="col">Date Assigned</th>
            <th scope="col">Contact Creator ID</th>
            <th scope="col">Create Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <@foreach (var contact in Model.UnassignedContacts)
        {
             <tr>
                <td><a href="@Url.Action("Details", "Contacts", new { id = contact.Contact_Id })">@contact.FullName</a></td>
                <td>@contact.Email</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Gender</td>
                <td>@contact.DOB</td>
                <td>@(contact.Owner?.FirstName + " " + contact.Owner?.LastName ?? "N/A")</td>
                <td>@contact.DateAssigned</td>
                <td>@(contact.Creator?.FirstName + " " + contact.Creator?.LastName ?? "N/A")</td>
                <td>@contact.CreateDate</td>
                <td>
                        <a asp-controller="Contacts" asp-action="Edit" asp-route-Contact_Id="@contact.Contact_Id"  class="btn btn-sm btn-success" data-toggle="modal" data-target="#EditModal" onclick="document.getElementById('EditModal').style.display='block'">Edit</a>
                        <a asp-controller="Contacts" asp-action="Delete" asp-route-Contact_Id="@contact.Contact_Id"  class="btn btn-sm btn-danger" data-toggle="modal" data-target="#DeleteModal" onclick="document.getElementById('DeleteModal').style.display='block'">Delete</a>
                    @*<a href="@Url.Action("Delete", "Contacts", new { id = contact.Contact_Id })" class="btn btn-sm btn-danger">Delete</a>*@
                    @*@Html.RenderPartial("_DeleteModal")*@
                </td>
             </tr>
        }
    </tbody>
</table>
<partial name="_EditModal" />
<partial name="_DeleteModal" />